<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename ='style.css')}}">
    <title>Ceneo.pl Web Scraper</title>
</head>
<body>
    <header class="text-center">
        <h1>Ceneo.pl Web Scraper</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}"><i class="bi bi-house-fill"></i> Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('extract')}}"><i class="bi bi-cloud-download-fill"></i>
Ekstrakcja opinii</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('products')}}"><i class="bi bi-list-stars"></i> Lista produktów</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('author')}}"><i class="bi bi-person-circle"></i> O autorze</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="container">
        <div class="row">
            <div class="col">
            <h2 class=" text-center mt-3 mb-3">
                    {% block title %}
                    {% endblock %}
                </h2>
                {% block content %}
                    <p>To jest plik bazowy.</p>
                {% endblock %}
            </div>
        </div>  
    </section>
    <footer class="container bg-dark text-light fixed-bottom text-center">
        <p>Małgorzata Łabuzek, Uniwersytet Ekonomiczny w Krakowie</p>
    </footer>
</body>
</html>