{% extends "base.html.jinja" %}
{% block content %}
    <h2 class>Ekstrakcja opinii</h2>
    <form action="" method="POST">
        <form>
        <div class="form-group">
            <label for="product_id">Kod produktu</label>
            <input type="text" name="product_id" id="exampleInputPassword1" placeholder="Podaj kod produktu">
        </div>
        <div class="form-check">
            <span id="product_idHelpInline" class="form-text">
            Kod produktu musi zawierać 8-10
            </span>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-warning">Pobierz opinie</button>
        </div>   
        </form>
    </form>
    {% if error is defned %}
        <div class="alert alert-warning alert-dismissible fade show mt-3 mb-3" role="alert">
            <strong>Uwaga!</strong>  {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}
